<h2 class="text-white">SGEscolares</h2>
<hr class="text-white">

<ul class="list-group">
    <button class="list-group-item" routerLink="alumnos" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact : true}">

    Alumnos
    </button>

    <button  class="list-group-item" routerLink="carreras" 
    routerLinkActive="active">

    Carreras
    </button>

    <button class="list-group-item" routerLink="maestros"
    routerLinkActive="active">
    
    Maestros
    </button>

    <button class="list-group-item" routerLink="materias"
    routerLinkActive="active">
    
    Materias
    </button>

</ul>